body {
    margin: 20px;
    font-family: 'EB Garamond', serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f9f6ee;
    color: #313131;
    text-shadow: 0 -1px #ffffff;
}

.border-blue {
    border: 1px dotted blue;
}


